<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\db_OptiWeb.mdf;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  <!--<customErrors mode="On" redirectMode="ResponseRedirect" defaultRedirect="~/error.aspx">
    <error statusCode="404" redirect="~/error404.aspx"/>
  <error statusCode="408" redirect="~/error408.aspx"/>
  <error statusCode="500" redirect="~/error500.aspx"/>
  <error statusCode="503" redirect="~/error503.aspx"/>
  </customErrors>-->
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>  
</configuration>